@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --th-primary-0: 262, 90%, 96%;
    --th-primary-100: 262, 100%, 88%;
    --th-primary-200: 262, 100%, 78%;
    --th-primary-300: 264, 96%, 70%;
    --th-primary-400: 268, 82%, 60%;
    --th-primary-500: 273, 80%, 49%;
    --th-primary-600: 274, 87%, 43%;
    --th-primary-700: 274, 87%, 37%;
    --th-primary-800: 274, 87%, 31%;
    --th-primary-900: 276, 91%, 23%;

    --th-red-0: 360, 100%, 95%;
    --th-red-100: 360, 100%, 87%;
    --th-red-200: 360, 100%, 80%;
    --th-red-300: 360, 91%, 69%;
    --th-red-400: 360, 83%, 62%;
    --th-red-500: 356, 75%, 53%;
    --th-red-600: 354, 85%, 44%;
    --th-red-700: 352, 90%, 35%;
    --th-red-800: 350, 94%, 28%;
    --th-red-900: 348, 94%, 20%;

    --th-green-0: 152, 68%, 96%;
    --th-green-100: 154, 75%, 87%;
    --th-green-200: 156, 73%, 74%;
    --th-green-300: 158, 58%, 62%;
    --th-green-400: 160, 51%, 49%;
    --th-green-500: 162, 63%, 41%;
    --th-green-600: 164, 71%, 34%;
    --th-green-700: 166, 72%, 28%;
    --th-green-800: 168, 80%, 23%;
    --th-green-900: 170, 97%, 15%;

    --th-gray-0: #f8f9fa;
    --th-gray-100: #e9ecef;
    --th-gray-200: #dee2e6;
    --th-gray-300: #ced4da;
    --th-gray-400: #adb5bd;
    --th-gray-500: #6c757d;
    --th-gray-600: #495057;
    --th-gray-700: #343a40;
    --th-gray-800: #212529;
    --th-gray-900: #000;
  }
  
  :root.dark {
    --th-gray-0: #000;
    --th-gray-100: #212529;
    --th-gray-200: #343a40;
    --th-gray-300: #495057;
    --th-gray-400: #6c757d;
    --th-gray-500: #adb5bd;
    --th-gray-600: #ced4da;
    --th-gray-700: #dee2e6;
    --th-gray-800: #e9ecef;
    --th-gray-900: #f8f9fa;
  }
}

@layer base {
  .btn-neutral {
    @apply hover:bg-gray-100 active:bg-gray-200;
  }

  .btn-neutral-100 {
    @apply bg-gray-100 hover:bg-gray-200 active:bg-gray-300;
  }

  .btn-primary {
    @apply bg-primary-700 hover:bg-primary-800 active:bg-primary-900;
  }

  .btn-focus {
    @apply focus:ring-4 focus:outline-none focus:ring-primary-400;
  }
}


.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
