@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --th-primary-0: #dc97ff;
    --th-primary-100: #d283ff;
    --th-primary-200: #bd68ee;
    --th-primary-300: #ab51e3;
    --th-primary-400: #8b2fc9;
    --th-primary-500: #6818a5;
    --th-primary-600: #5a108f;
    --th-primary-700: #4a0a77;
    --th-primary-800: #3c0663;
    --th-primary-900: #310055;

    --th-red-0: #e01e37;
    --th-red-100: #da1e37;
    --th-red-200: #c71f37;
    --th-red-300: #bd1f36;
    --th-red-400: #b21e35;
    --th-red-500: #a71e34;
    --th-red-600: #a11d33;
    --th-red-700: #85182a;
    --th-red-800: #6e1423;
    --th-red-900: #641220;

    --th-green-0: #b7efc5;
    --th-green-100: #92e6a7;
    --th-green-200: #6ede8a;
    --th-green-300: #4ad66d;
    --th-green-400: #2dc653;
    --th-green-500: #25a244;
    --th-green-600: #208b3a;
    --th-green-700: #1a7431;
    --th-green-800: #155d27;
    --th-green-900: #10451d;

    --th-gray-0: #f8f9fa;
    --th-gray-100: #e9ecef;
    --th-gray-200: #dee2e6;
    --th-gray-300: #ced4da;
    --th-gray-400: #adb5bd;
    --th-gray-500: #6c757d;
    --th-gray-600: #495057;
    --th-gray-700: #343a40;
    --th-gray-800: #212529;
    --th-gray-900: #000;
  }
  
  :root.dark {
    --th-gray-0: #000;
    --th-gray-100: #212529;
    --th-gray-200: #343a40;
    --th-gray-300: #495057;
    --th-gray-400: #6c757d;
    --th-gray-500: #adb5bd;
    --th-gray-600: #ced4da;
    --th-gray-700: #dee2e6;
    --th-gray-800: #e9ecef;
    --th-gray-900: #f8f9fa;
  }
}

@layer base {
  .btn-outlined {
    @apply bg-gray-0 hover:bg-gray-200 active:bg-gray-300 border border-gray-200;
  }

  .btn-neutral {
    @apply bg-gray-0 hover:bg-gray-100 active:bg-gray-200;
  }

  .btn-neutral-100 {
    @apply bg-gray-100 hover:bg-gray-200 active:bg-gray-300;
  }

  .btn-primary {
    @apply bg-primary-500 hover:bg-primary-600 active:bg-primary-700 text-white;
  }

  .btn-green {
    @apply bg-green-600 hover:bg-green-700 active:bg-green-800 text-white;
  }

  .btn-red {
    @apply bg-red-300 hover:bg-red-400 active:bg-red-500 text-white;
  }

  .btn-focus {
    @apply focus:ring-4 focus:outline-none focus:ring-primary-400;
  }
}


.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
